<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" href="iris.css" type="text/css" media="screen" title="main" charset="utf-8">

        <script src="./jquery/external/jquery.min.js"></script>

        <script src = './jquery/external/jquery.cookie.min.js'></script>

        <script src="./jquery/external/bootstrap.min.js"></script>
        <link href="./jquery/external/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="./jquery/external/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <script src = './jquery/kbase/kbaseWidget.js'></script>
        <script src = './jquery/kbase/kbaseBox.js'></script>
        <script src = './jquery/kbase/kbasePrompt.js'></script>
        <script src = './jquery/kbase/kbaseDeletePrompt.js'></script>
        <script src = './jquery/kbase/kbaseErrorPrompt.js'></script>
        <script src = './jquery/kbase/kbaseLogin.js'></script>
        <script src = './jquery/kbase/kbaseAccordion.js'></script>
        <script src = './jquery/kbase/kbaseIrisCommands.js'></script>
        <script src = './jquery/kbase/kbaseFileBrowser.js'></script>
        <script src = './jquery/kbase/kbaseIrisFileBrowser.js'></script>
        <script src = './jquery/kbase/kbaseIrisProcessList.js'></script>
        <script src = './jquery/kbase/kbaseIrisTerminal.js'></script>

        <script src = './jquery/kbase/kbaseIrisTutorial.js'></script>

        <script src="./InvocationService.js" type="text/javascript" charset="utf-8"></script>

        <script src = './jquery/kbase/kbaseWorkspaceBrowser.js'></script>
        <script src = './js/workspaceService/Client.js'></script>

        <script type = 'text/javascript'>
            <!--

                function getParameterByName(name) {
                  name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                  var regexS = "[\\?&]" + name + "=([^&#]*)";
                  var regex = new RegExp(regexS);
                  var results = regex.exec(window.location.search);
                  if(results == null)
                    return "";
                  else
                    return decodeURIComponent(results[1].replace(/\+/g, " "));
                }

                $(function() {

                    var $plist = $('#process-list').kbaseIrisProcessList();

                    var $term = $('#terminal').kbaseIrisTerminal({
                        'promptIfUnauthenticated'   : 0,
                        'invocationURL'             : '[% kb_service_url %]',
                        'commandsElement'           : $('#command-list'),
                    });

                    $('#command-list').kbaseIrisCommands(
                        {
                            client          : $term.getClient(),
                            englishCommands : false,
                            overflow        : false,
                            link            : function (evt) {
                                evt.preventDefault();
                                var $terminal = $('#terminal').kbaseIrisTerminal();
                                var append = $(this).attr('title') + ' ';
                                if ($terminal.input_box.val().length && ! $terminal.input_box.val().match(/[\|;]\s*$/)) {
                                    append = '| ' + append;
                                }
                                $terminal.appendInput(append);
                            }
                        }
                    );

                    var $fb = $('#file-browser').kbaseIrisFileBrowser (
                        {
                            client : $term.client,
                            $terminal : $term,
                            externalControls : true,
                            processList : $plist,
                            addFileCallback : function (file) {
                                $('#terminal').kbaseIrisTerminal('appendInput', file + ' ');
                            },
                        }
                    );

                    if (getParameterByName('ws') == 1) {
                        var $wb = $('#ws-browser').kbaseWorkspaceBrowser (
                            {
                                client : $term.client,
                                $loginbox : $term.$loginbox,
                                externalControls : true,
                                processList : $plist,
                                addFileCallback : function (file) {
                                    $('#terminal').kbaseIrisTerminal('appendInput', file + ' ');
                                },
                                wsClient : new workspaceService('http://bio-data-1.mcs.anl.gov/services/fba_gapfill')
                            }
                        );
                        $term.addFileBrowser($wb);
                    }

                    $term.addFileBrowser($fb);
                    $term.data('processList', $plist);

                    $('#login').append($term.$loginbox.$elem);

                    // to see the auth token
                    // console.log( $('#terminal').terminal('authToken') );

                });

            //-->
        </script>

        <title>KBase IRIS Terminal</title>
        <link rel="icon" href="img/KBase_favicon.ico" type="image/x-icon">
        <link href="css/identity.css" rel="stylesheet">
        <link href="css/kbase-common.css" rel="stylesheet">
        <style type="text/css">
          body {
            /* padding to make room for the fixed nav bar,
               modify in css as needed. */
            padding-top: 60px;
          }
        </style>

    </head>

    <body>

        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <a href="http://www.kbase.us/labs/"><img class="logo" src="img/labs_icon.png" width="46"></a>
            <a class="brand">IRIS</a>
            <ul class="nav" style="float:right;">
              <li id = 'login' style = 'padding : 9px 15px 7px 10px'></li>
            </ul>
          </div>
        </div>

        <div class = 'row-fluid'>
            <div class = 'span3'>
                <!--<img src = './img/kbase_logo.png'/ width = '220'><br/><br/>-->
                <div id = 'command-list'></div>
                <div id = 'process-list'></div>
                <div id = 'file-browser'></div>
                <div id = 'ws-browser'></div>
            </div>
            <div class = 'span9'>
                <div id = 'terminal'></div>
            </div>
        </div>

        <br clear = 'all'/>


        <div id="pgfooter">Copyright &copy; 2012-2013 DOE <a href = 'http://www.kbase.us/'>KBase</a></div>

    </body>

</html>
