<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" href="iris.css" type="text/css" media="screen" title="main" charset="utf-8">

        <script src="./jquery/external/jquery.min.js"></script>

        <script src = './jquery/external/jquery.cookie.min.js'></script>

        <script src="./jquery/external/bootstrap.min.js"></script>
        <link href="./jquery/external/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="./jquery/external/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <script src = './jquery/kbase/kbaseWidget.js'></script>
        <script src = './jquery/kbase/kbaseAuthenticatedWidget.js'></script>
        <script src = './jquery/kbase/kbaseButtonControls.js'></script>
        <script src = './jquery/kbase/kbaseBox.js'></script>
        <script src = './jquery/kbase/kbasePrompt.js'></script>
        <script src = './jquery/kbase/kbaseDeletePrompt.js'></script>
        <script src = './jquery/kbase/kbaseErrorPrompt.js'></script>
        <script src = './jquery/kbase/kbaseLogin.js'></script>
        <script src = './jquery/kbase/kbaseAccordion.js'></script>
        <script src = './jquery/kbase/kbaseTabs.js'></script>
        <script src = './jquery/kbase/kbaseTable.js'></script>
        <script src = './jquery/kbase/kbaseIrisCommands.js'></script>
        <script src = './jquery/kbase/kbaseDataBrowser.js'></script>
        <script src = './jquery/kbase/kbaseIrisFileBrowser.js'></script>
        <script src = './jquery/kbase/kbaseIrisProcessList.js'></script>
        <script src = './jquery/kbase/kbaseIrisTerminal.js'></script>
        <script src = './jquery/kbase/kbaseIrisGrammar.js'></script>
        <script src = './jquery/kbase/kbaseIrisFileEditor.js'></script>


        <script src = './jquery/kbase/kbaseIrisTutorial.js'></script>


        <script src="./InvocationService.js" type="text/javascript" charset="utf-8"></script>

        <script type = 'text/javascript'>
            <!--

                function getParameterByName(name) {
                  name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                  var regexS = "[\\?&]" + name + "=([^&#]*)";
                  var regex = new RegExp(regexS);
                  var results = regex.exec(window.location.search);
                  if(results == null)
                    return "";
                  else
                    return decodeURIComponent(results[1].replace(/\+/g, " "));
                }

                $(function() {

                    var $loginbox = $('#login').kbaseLogin();

                    var $plist = $('#process-list').kbaseIrisProcessList();

                    var $term = $.jqElem('div').kbaseIrisTerminal({
                        'promptIfUnauthenticated'   : 0,
                        'invocationURL'             : '[% kb_service_url %]',
                        'commandsElement'           : $('#command-list'),
                        'grammar'                   : $('<div></div>').kbaseIrisGrammar(),
                        autocreateFileBrowser       : false,
                    });

                    var $tabs = $('#tabs').kbaseTabs(
                        {
                            tabPosition : 'bottom', //or left or right or top. Defaults to 'top'
                            canDelete : true,
                            tabs : [
                                {
                                    tab : 'IRIS Terminal',
                                    content : $term.$elem,
                                    canDelete : false
                                },
                            ],
                            tabsHeight : (parseInt($term.terminalHeight()) + 100) + 'px',
                        }
                    );

                    $('#command-list').kbaseIrisCommands(
                        {
                            client          : $term.client(),
                            terminal        : $term,
                            englishCommands : false,
                            overflow        : true,
                            link            : function (evt) {
                                evt.preventDefault();
                                var append = $(this).attr('title') + ' ';
                                if ($term.input_box.val().length && ! $term.input_box.val().match(/[\|;]\s*$/)) {
                                    append = '| ' + append;
                                }
                                $term.appendInput(append);
                            },
                        }
                    );

                    var $fb = $('#file-browser').kbaseIrisFileBrowser (
                        {
                            client : $term.client(),
                            invocationURL   : $term.options.invocationURL,
                            addFileCallback : function (file, $fb) {
                                $term.appendInput(file + ' ');
                            },
                            editFileCallback : function (file, $fb) {

                                var $editor = $.jqElem('div').kbaseIrisFileEditor(
                                    {
                                        file : file,
                                        client : $fb.client(),
                                        saveFileCallback : function(file) {
                                            $tabs.removeTab(file)
                                        },
                                        cancelSaveFileCallback : function(file) {
                                            $tabs.removeTab(file)
                                        },
                                    }
                                )

                                if ($tabs.hasTab(file)) {
                                    $tabs.showTab(file);
                                }
                                else {
                                    $tabs.addTab(
                                        {
                                            tab : file,
                                            content : $editor.$elem,
                                            canDelete : true,
                                            show : true,
                                            deleteCallback : function(tab) {
                                                $editor.savePrompt();
                                            }
                                        }
                                    );
                                }
                            },
                        }
                    );

                    $term.addFileBrowser($fb);
                    $term.data('processList', $plist);

                    var command = getParameterByName('command');
                    if (command.length) {
                        var login = getParameterByName('login');
                        if (login.length) {
                            $term.run('login ' + login);
                        }
                        setTimeout(
                            function() {
                                $term.out_cmd(command);
                               $term.run(command);
                            },
                            200
                        );
                    }

                });

            //-->
        </script>

        <title>KBase IRIS Terminal</title>
        <link rel="icon" href="img/KBase_favicon.ico" type="image/x-icon">
        <link href="css/identity.css" rel="stylesheet">
        <link href="css/kbase-common.css" rel="stylesheet">
        <style type="text/css">
          body {
            /* padding to make room for the fixed nav bar,
               modify in css as needed. */
            padding-top: 60px;
          }

        </style>

    </head>

    <body>

        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <a href="http://www.kbase.us/labs/"><img class="logo" src="img/labs_icon.png" width="46"></a>
            <a class="brand">IRIS</a>
            <ul class="nav" style="float:right;">
              <li id = 'login'></li>
            </ul>
          </div>
        </div>

        <div class = 'row-fluid'>
            <div class = 'span3'>
                <!--<img src = './img/kbase_logo.png'/ width = '220'><br/><br/>-->
                <div id = 'command-list'></div>
                <div id = 'process-list'></div>
                <div id = 'file-browser'></div>
            </div>
            <div class = 'span9'>
                <!--<div id = 'terminal'></div>-->
                <div id = 'tabs'></div>
            </div>
        </div>

        <br clear = 'all'>
        <br clear = 'all'>
        <br clear = 'all'>

        <div id="pgfooter">Copyright &copy; 2012-2013 DOE <a href = 'http://www.kbase.us/'>KBase</a></div>

    </body>

</html>
