<!DOCTYPE html>

<html>

    <head>

        <script src="./jquery/ext/jquery/jquery-1.10.2.min.js"></script>


        <script src="./jquery/ext/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <link href="./jquery/ext/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="./jquery/ext/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

        <script src = './jquery/kbase/kbwidget.js'></script>
        <script src = './jquery/kbase/widgets/kbaseAuthenticatedWidget.js'></script>
        <script src = './jquery/kbase/widgets/kbaseButtonControls.js'></script>
        <script src = './jquery/kbase/widgets/kbaseBox.js'></script>
        <script src = './jquery/kbase/widgets/kbasePrompt.js'></script>
        <script src = './jquery/kbase/widgets/kbaseDeletePrompt.js'></script>
        <script src = './jquery/kbase/widgets/kbaseErrorPrompt.js'></script>
        <script src = './jquery/kbase/widgets/kbaseLogin.js'></script>
        <script src = './jquery/kbase/widgets/kbaseAccordion.js'></script>
        <script src = './jquery/kbase/widgets/kbaseTabs.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisWorkspace.js'></script>
        <script src = './jquery/kbase/widgets/kbaseTable.js'></script>
        <script src = './jquery/kbase/widgets/kbaseFormBuilder.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisCommands.js'></script>
        <script src = './jquery/kbase/widgets/kbaseDataBrowser.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisFileBrowser.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisProcessList.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisTerminal.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisGrammar.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisFileEditor.js'></script>

        <script src = './jquery/kbase/widgets/iris/kbaseIrisWidget.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisTerminalWidget.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisGUIWidget.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisTextWidget.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisContainerWidget.js'></script>
        <script src = './jquery/kbase/widgets/iris/kbaseIrisEchoWidget.js'></script>

        <script src = './js/MetaTool.js'></script>

        <script src = './jquery/kbase/widgets/iris/kbaseIrisTutorial.js'></script>

        <link rel="stylesheet" href="iris.css" type="text/css" media="screen" title="main" charset="utf-8">

        <script src="./InvocationService.js" type="text/javascript" charset="utf-8"></script>

        <script type = 'text/javascript'>
            <!--

                function getParameterByName(name) {
                  name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                  var regexS = "[\\?&]" + name + "=([^&#]*)";
                  var regex = new RegExp(regexS);
                  var results = regex.exec(window.location.search);
                  if(results == null)
                    return "";
                  else
                    return decodeURIComponent(results[1].replace(/\+/g, " "));
                }

                $(function() {

                    var $loginbox = $('#login').kbaseLogin();

                    var $plist = $('#process-list').kbaseIrisProcessList();

                    var $term = $.jqElem('div').kbaseIrisTerminal({
                        'invocationURL'             : '[% kb_service_url %]',
                        'commandsElement'           : $('#command-list'),
                        autocreateFileBrowser       : false,
                        widgets : {
                            echo : function() { return $.jqElem('div').kbaseIrisEchoWidget()},
                        }
                    });

                    var $tabs = $('#tabs').kbaseIrisWorkspace(
                        {
                            tabPosition : 'bottom', //or left or right or top. Defaults to 'top'
                            canDelete : true,
                            tabs : [
                                {
                                    tab : 'IRIS Terminal',
                                    content : $term.$elem,
                                    canDelete : false
                                },
                                /*{
                                    tab : 'Workspace Browser (coming)',
                                    content : "<br><br><br><div align = 'center'>(Workspace browser will go here...soon)</div>",
                                    canDelete : false
                                },*/
                            ],
                            tabsHeight : (parseInt($term.terminalHeight()) + 100) + 'px',
                        }
                    );

                    $('#command-list').kbaseIrisCommands(
                        {
                            client          : $term.client(),
                            terminal        : $term,
                            englishCommands : false,
                            overflow        : true,
                            addWidget       : function(evt) {
                                var command = $(this).attr('title');
                                $term.addWidget(command);
                            },
                            link            : function (evt) {

                                if ($term.gui) {
                                    var command = $(this).attr('title');
                                    var $widget = $.jqElem('div').kbaseIrisGUIWidget(
                                        {
                                            terminal : $term,
                                            command : command
                                        }
                                    );
                                    $term.terminal.append($widget.$elem);
                                }
                                else {
                                    evt.preventDefault();
                                    var append = $(this).attr('title') + ' ';
                                    if ($term.input_box.val().length && ! $term.input_box.val().match(/[\|;]\s*$/)) {
                                        append = '| ' + append;
                                    }
                                    $term.appendInput(append);
                                }
                            },
                        }
                    );

                    var $fb = $('#file-browser').kbaseIrisFileBrowser (
                        {
                            client : $term.client(),
                            invocationURL   : $term.options.invocationURL,
                            addFileCallback : function (file, $fb) {
                                $term.appendInput(file + ' ');
                            },
                            editFileCallback : function (file, $fb) {

                                var $editor = $.jqElem('div').kbaseIrisFileEditor(
                                    {
                                        file : file,
                                        client : $fb.client(),
                                        saveFileCallback : function(file) {
                                            $tabs.removeTab(file)
                                        },
                                        cancelSaveFileCallback : function(file) {
                                            $tabs.removeTab(file)
                                        },
                                    }
                                )

                                if ($tabs.hasTab(file)) {
                                    $tabs.showTab(file);
                                }
                                else {
                                    $tabs.addTab(
                                        {
                                            tab : file,
                                            content : $editor.$elem,
                                            canDelete : true,
                                            show : true,
                                            deleteCallback : function(tab) {
                                                $editor.savePrompt();
                                            }
                                        }
                                    );
                                }
                            },
                        }
                    );

                    $term.addFileBrowser($fb);

                    var command = getParameterByName('command');
                    if (command.length) {
                        var login = getParameterByName('login');
                        if (login.length) {
                            $term.run('login ' + login);
                        }
                        setTimeout(
                            function() {
                                $term.out_cmd(command);
                               $term.run(command);
                            },
                            200
                        );
                    }

                });

            //-->
        </script>

        <title>KBase IRIS Terminal</title>
        <link rel="icon" href="img/KBase_favicon.ico" type="image/x-icon">
        <link href="css/identity.css" rel="stylesheet">
        <link href="css/kbase-common.css" rel="stylesheet">
        <style type="text/css">
          body {
            /* padding to make room for the fixed nav bar,
               modify in css as needed. */
            padding-top: 60px;
          }

        </style>

    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class = 'navbar-header'>
                <a href="http://www.kbase.us/labs/"><img class="logo" src="img/labs_icon.png" width="46"></a>
                    <a class="navbar-brand">IRIS</a>
                </div>
                <ul class="nav navbar-nav" style="float:right;">
                  <li id = 'login'></li>
                </ul>
            </div>
        </div>

        <div class = 'row'>
            <div class = 'col-md-3'>
                <!--<img src = './img/kbase_logo.png'/ width = '220'><br/><br/>-->
                <div id = 'command-list'></div>
                <div id = 'process-list'></div>
                <div id = 'file-browser'></div>
            </div>
            <div class = 'col-md-9'>
                <!--<div id = 'terminal'></div>-->
                <div id = 'tabs'></div>
            </div>
        </div>

        <br clear = 'all'>
        <br clear = 'all'>
        <br clear = 'all'>

        <div id="pgfooter">Copyright &copy; 2012-2013 DOE <a href = 'http://www.kbase.us/'>KBase</a></div>

    </body>

</html>
