
html, body, #wrapper {
    margin: 0;
    padding: 0;
    }


html {
    background-color: #fff;
    }

p {
    font-size: 1em;
    margin: 1em 0;  /*required for IE's buggy behavior
                      with collapsing margins*/
    }

h1, h2 {
    font-family: georgia, serif;
    text-align: center;
    text-transform: capitalize;
    }

#navcol {
    width: 160px;
    padding: 5px;
    float: left;
    }

#terminal {
	height: 80%;
    overflow: scroll;
    padding : 5px;
}

#content {
    padding: 5px;
    }

#pageheader {
    padding: 5px;
    border-bottom: 1px solid black;
    background-color: #eee;
    }

.command {
	font-family : "courier new",courier,monospace;
	font-weight: bold;
}
